@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "IBMPlexSansKR-Regular", sans-serif;
}

.fs-large {
    font-size: 17px;
}

.fs-medium {
    font-size: 13px;
    line-height: 20.8px;    
}

.fs-small {
    font-size: 12px;
    line-height: 19.2px;
}

.fs-tiny {
    font-size: 11px;
}

.fc-gray {
    color: #494949;
}

.fc-lgray {
    color: #6D6D6D;
}

.fs-italic {
    font-style: italic;
}

.fw-regular {
    font-weight: 400;
}

.desc {
    font-weight: 400;
    color: #494949;
}